/*************************************
 * Linux.js styles
 *************************************/

body {
  background-color: #F5F5F5;
}
.masthead {
    position: relative;
    padding-bottom: 80px;
    color: #6D6C6D;
    background: transparent;
}
.title {
    color: #6D6C6D;
}
.demo-app-container {
  height: 500px;
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  border: 1px solid #bebebe;
  border-radius: 6px;
}
.logo {
  width: 22px;
  height: 22px;
  margin-right:10px;
  vertical-align: text-bottom;
}
.masthead-title {
    padding: 0 1rem 1rem;
    text-transform: uppercase;
    text-shadow: none;
}
@media (min-width: 32em){
  .masthead-title {
      padding: 0px 8rem 1rem;
  }
}
.masthead-content {
    position: relative;
    margin-top: 20px;
}
.nav {
  border: 0px;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}
.nav-item {
  color: #6D6C6D;
  text-transform: uppercase;
}
footer {
  border: 0px;
  background-color: #FFFFFF;
}
footer .heart {
  vertical-align: text-bottom;
  width: 14px;
  height:14px;
  margin: 0 4px;
}
