/*************************************
 * App.js styles
 *************************************/

.toolbar-actions {
    margin-top: 7px;
}
.toolbar-footer {
    padding-top: 2px;
}
.toolbar-footer .title {
  margin-right: 7px;
  display: inline-block;
  float:right;
}
tbody {
    background-color: transparent;
}
.terminal {
    border: 2px solid black;
    font-family: courier,fixed,swiss,monospace,sans-serif;
    font-size: 14px;
    color: #bbbbbb;
    background: #000000;
    border-collapse: collapse;
    line-height: normal;
}
